/**
 * LaTrobe Theme
 *
 * Latrobe Navy #001621
 * Latrobe Red #EE0010
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #EE0010; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
  }

.ltextalign{
    text-align: left;
}

.redText
{
    color: red;
}

.pinkText
{
    color: pink;
}

.greenText
{
    color: green;
}

.purpleText
{
    color: purple;
}

.blueText
{
    color: blue;
}

/*********************************************
 * CODE HIGHLIGHTING
 *********************************************/
 
.line { display: block; }
.line.focus { background: #4B4B4B; }

/*********************************************
 * HEADINGS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.0;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  color: #001621;
  font-size: 2.5em;
  }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  color: #EE0010;
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em;
  text-transform: none;  }

.reveal h5 {
  font-size: 1em;
  color: #EE0010;
  text-transform: none;}

/* h6 (it looks like h3) this style is picked up by the menu automatically! */
.reveal h6 {
  color: #EE0010;
  font-size: 1.3em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
  font-size: 0.8em;  }

.reveal li {
  margin: 5px 0;
  line-height: 1;
  font-weight: lighter;
  font-size: 0.7em;
  font-style: italic;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 85%;
  margin: 10px auto;
  padding: 5px;
  font-style: italic;
  font-size: 0.7em;
  background: rgba(211,211,211, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal .col blockquote {
  display: block;
  position: relative;
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  font-style: italic;
  font-size: 0.9em;
  background: rgba(211,211,211, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }


.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 98%;
  margin: 10px auto;
  padding: 10px;
  text-align: left;
  font-size: 0.65em;
  font-family: monospace;
  background: rgba(211,211,211, 0.8);
  line-height: 1.1em;
  word-wrap: break-word;
  color: black;
  }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;  
  } /*removed text-align:center for pretty code
  
/* need to fix for pretty code 
.reveal hljs-ln.table th,
.reveal hljs-ln.table td,
{
    text-align:left;
}
*/
  
.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }
  
 .reveal table.classtable  {
    font-size: 0.6em;
    line-height: 0.95;
    padding: 5px;
    margin: auto;
    table-layout: auto;
    white-space: nowrap;
    border: 1px solid;
}

.reveal table.classtable th
{
    color: white;
    background-color: black;
    line-height: 1;
    padding: 6px;
    text-align:center;
}

.reveal table.classtable td {
    text-align: left;
    padding: 0.05em 0.2em 0.05em 0.2em;
    border: 1px solid; }
    
.reveal table.classtablemethods td, 
.reveal table.classtablemethods tr {
    text-align: left;
    colour: red;
    padding: 0.05em 0.2em 0.05em 0.2em;
    border: 1px solid grey; 
    background-color: grey;    
    } 
    
  
 .reveal table.condensedtable  {
    font-size: 0.6em;
    line-height: 0.95;
    padding: 5px;
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    border: 1px solid;
}

.reveal table.condensedtable th,
.reveal table.condensedtable td {
    text-align: left;
    padding: 0.05em 0.2em 0.05em 0.2em;
    border: 1px solid; }
    
    
.reveal table.strtable{
    padding: 1px;
    border: 4px solid #EE0010;
    width: 100%;
    table-layout: fixed;
}

.reveal th.strtable,
.reveal td.strtable {
    padding: 5px;
    border: 3px solid #EE0010; }
    
.reveal table.standardtable{
    font-size: 0.7em;
    padding: 1px;
    border: 4px solid #EE0010;
    width: 100%;
    table-layout: fixed;
}

.reveal th.standardtable,
.reveal td.standardtable {
    padding: 2px;
    border: 3px solid #EE0010; }

.reveal table.fadedtable {
  color: "red"; }

.reveal table.fadedtable td,
.reveal table.fadedtable th {
  color: "red"; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.7em;
  line-height: 1em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

.reveal .answtext{
    color: #EE0010;
    font-weight: bold;
}

.reveal .bluenotetext{
    color: #001621;
    font-style: italic;
    font-size: 0.7em;
}

.reveal .rednotetext{
    font-style: italic;
    font-size: 0.7em;
    color: #EE0010;
}

.reveal .fragment .fade-up{
    color: red;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #EE0010;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #001621;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 5px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #001621;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none;
  margin: 5px 0px;}
  
.reveal section img.plaineighty {
  border: 0;
  box-shadow: none;
  margin: 5px 0px;
  height: 80%;
  width: 80%;
  }
  
.reveal section img.plainsixty {
  border: 0;
  box-shadow: none;
  margin: 5px 0px;
  height: 60%;
  width: 60%;
  }  
  
.reveal section img.plainseventy {
  border: 0;
  box-shadow: none;
  margin: 5px 0px;
  height: 70%;
  width: 70%;
  }    
  
.reveal section img.plainfifty {
  border: 0;
  box-shadow: none;
  margin: 5px 0px;
  height: 50%;
  width: 50%;
  }
  
.reveal section img.plainthirty {
  border: 0;
  box-shadow: none;
  margin: 5px 0px;
  height: 30%;
  width: 30%;
  }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #001621;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #EE0010; }
  
/*********************************************
 * MAKE NON VISABLE FRAGMENTS FADE
 * use class="fragment current-visible" to step through fragments without leaving layoutspace
 *********************************************/  
.fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;}
	
.reveal .slides section .fragment.step-fade-in-then-out {
	opacity: 0;
	display: none; }
	
.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	opacity: 1;
	display: inline; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #EE0010; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }

/*********************************************
 * LAYOUT
 *********************************************/

.flexcontainer{
    display: flex; 
}
.col{
    flex: 1;
    margin: auto;
}

.col2{
    flex: 2;
    margin: auto;
}

.flexcontainerrow{
    display: flex; 
}
.row
    flex: 1;
	flex-direction: row;
    margin: auto;
}

.row{
    flex: 2;
	flex-direction: row;
    margin: auto;
}

/* Split the screen in half */
.top {
  height: 50vh;
}

.bottom {
  height: 50vh;
}
